div {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 5rem;
}

p {
    margin: 0;
    font-size: 3.5rem;
    /*color: #FF7E00;*/
    color: black;
}

.exemplo {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    width: 5rem;
    align-self: center;
    display: block;
}

textarea {
    width: 30rem;
    height: 1rem;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: blueviolet;
    resize: none;
}

body {
    background-image: url('continente.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.resultado {
    font-size: 2rem;
}